
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* White */
    --foreground: 240 10% 3.9%; /* Almost Black */

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 236 78% 46%; /* DevCore Blue */
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 46 99% 53%; /* DevCore Yellow */
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;

    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%; /* Almost Black */
    --foreground: 0 0% 98%; /* Almost White */

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 236 78% 46%; /* DevCore Blue */
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 5% 15%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 5% 15%;
    --muted-foreground: 240 5% 65%;
 
    --accent: 46 99% 53%; /* DevCore Yellow */
    --accent-foreground: 240 10% 3.9%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 5% 20%;
    --input: 240 5% 20%;
    --ring: 236 78% 46%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
